.track.clearfix
  %div
    = link_to image_tag(track.artwork_url || track.user.avatar_url, :class => "scale-with-grid", :height => 100, :width => 100, :alt => track.user.username), track
  %div
    %h3= link_to track.title, track
    %p= track.user.name.empty? ? track.user.username : track.user.name