.row.clearfix.one-third.half-bottom

  .caption.one-third.column
    %div
      %h1 Compete
      %p Win a chance at becoming the next great recording artist!  Enter a track created with Freestyle Application for iPhone and iPad to win a chance of a professional recording, a commercial release, and an opportunity to be signed to the My Major Company record label.

  .banner.two-thirds.column
    = image_tag "banner.jpg", :height => 300, :width => 620, :class => "scale-with-grid"

.row.clearfix

  .status.one-third.column
    %div(style="padding-left:15px")
      %h3 Competition Status
      %p X days left to submit.
      %h3 Submit From
      %p July 4 > July 18, 2011
      %h3 Share this Competition
      %p
        %a.button(href="http://twitter.com/share" target="_blank") Twitter
        %a.button(href="http://www.facebook.com/sharer/sharer.php?u=#{root_url}" target="_blank") Facebook
        %a.button(href="#" target="_blank") Tumblr

  .two-thirds.column
    %h2 About Competition
    %p Pork chop fatback short loin bacon pancetta t-bone. Ribeye ham pork loin, flank strip steak jerky short loin drumstick ham hock. Brisket ball tip biltong sirloin pork chop. Pork tenderloin fatback shankle turkey jerky. Short ribs flank fatback, jowl beef ribs cow tail rump ground round sausage pork loin. Ribeye pastrami short loin strip steak fatback. Sirloin beef ribs swine drumstick tenderloin, pancetta ball tip fatback ham hock boudin turkey meatball.
    %p Pancetta tongue fatback ribeye boudin pork chop, spare ribs swine drumstick chuck ground round chicken bacon tenderloin. Shank sirloin boudin meatloaf, beef short ribs swine bresaola strip steak. Shankle turkey beef ribs boudin bresaola short ribs. Ham hock beef ribs beef, hamburger pig ground round tongue pork belly ham pork drumstick boudin rump meatball. Boudin shank tail rump pastrami sausage, swine bresaola salami. Tenderloin tongue ball tip andouille corned beef. Tail chicken jerky, tenderloin fatback bacon tri-tip shank.

%hr.large

.row.clearfix

  .eight.columns
    %h2 Top Tracks
    .tracks= render @top_tracks

  .eight.columns
    %h2 Latest Tracks
    .tracks= render @latest_tracks

.row.clearfix

  .eight.columns
    %hr.large
    %h2 Prizes
    %ul.prizes
      %li 1st prize wins: a professional recording of their track. MMC digitally release the winning track as a single.  MMC signs the winner as an artist.
      %li Runner up wins $100 gift certificate on iTunes and pro account with SoundCloud.

  .eight.columns
    %hr.large
    %h2 About Freestyle
    %p <iframe width="100%" height="200" src="http://www.youtube.com/embed/Lt2rCI-KQOw" frameborder="0" allowfullscreen></iframe>
    %p Freestyle is a writing, recording and sharing mobile application for songwriters, MC’s and poets on the move. Be prepared whenever and wherever inspiration strikes.
    /%p Reengineered from the ground up, Freestyle records your vocal perfectly over the beat.  Now with improved sharing features.
    /%p Never be lost for words with Freestyle's enhanced notepad containing Schirmer's Complete Rhyming Dictionary, an industry standard including over 96,000 rhymes.
    /%p Record your rhymes over a selection of exclusive beats included in the app, or record over tracks on your iPod. Share your recordings with the world by embedding them on any Social Media site, or emailing them to friends.
    /%p Get your ideas down fast.  Craft the perfect rhyme.  Show the world your skills. Or simply record a demo to work on when you’re back at the lab.
