%form.new_comment
  %input.comment_track_id(name="comment[track_id]" type="hidden"){:value => @track.tid}
  %textarea.comment_body(name="comment[body]")
  %p
    /= submit_tag "Post a Comment"
    %a.submit.button(href="#") Post a Comment