%form.new_comment
  %input.comment_track_id(name="comment[track_id]" type="hidden"){:value => @track.tid}
  %textarea.comment_body(name="comment[body]" rows=6)
  %p
    %a.submit.button(href="#") Post a Comment