$big-player: 100px;
$small-player: 75px;

@import "compass/typography/text";
@import "compass/reset";

@mixin player-sizing($size){
  &, & > div{
    height: $size;
  }  
  .controls{
    width: $size;
    .play{
      $control-size: $size / 8;
      border-width: $control-size;
      left: ($size - $control-size) / 2 + $control-size / 4;
      top: ($size - $control-size) / 2 - $control-size / 4;
    }
    .pause{
      $control-size: $size / 5;
      border-width: 0 $control-size / 5 0 $control-size / 5 !important;
      height: $control-size !important;
      width: $control-size / 5 !important;
      left: ($size - $control-size) / 2 + $control-size / 5;
      top: ($size - $control-size) / 2;
    }
  }
  .time{
    margin-left: $size;
  }
}

body{

  // Main Styles
  p, h1, h2, h3, hr{ margin: 10px 0; }
  h1, h2, h3, h4{ @include ellipsis; }
  hr{ clear: both; height: 0; }

  label{ display: block; margin: 0 0 5px; }
  input[type="text"], textarea, select{ -webkit-appearance: none; }
  input[type="text"], textarea{ padding: 1.5%; width: 97%; }
  select{ padding: 5px; }

  // Header & Caption

  .header ul, .footer ul{
    list-style: none;
    padding: 10px 0;
    &:first-child{ float: left; }
    &:last-child{ float: right; }
    li{ display: inline-block; padding: 0 10px; }
  }

  .header{
    margin-bottom: 30px;
    .nav{ margin-left: 35px; }
    .logo{
      height: 35px;
      position: absolute;
      top: 0px;
      width: 35px;
    }
  }

  .caption{ position: relative; }
  
  .caption div{
    padding: 5px 20px 5px 20px;
    position: absolute;
  }

  // Prizes

  .prizes ul{
    margin-left: 18px;
    li{ margin-bottom: 10px; }
  }

  // Tracks, Comments, & Creator

  .track, .comment, .info{
    & > div{
      padding: 10px;
      &:first-child{ float: left; }
      p{ margin: 5px 0; overflow: hidden; }
      h1, h2, h3{ margin: 0; }
    }
  }

  .track, .comment{
    & > div:first-child{ width: 60px; }
    & > div:last-child{ margin-left: 70px; }
  }

  .info{
    & > div:first-child{ width: 15%; }
    & > div:last-child{ margin-left: 17%; }
    div{ padding: 0; }
  }

  // Voting

  .vote{
    border-spacing: 0;
    display: table;
    text-align: right;
    width: 100%;
    .votes{
      display: table-row;
      a{ cursor: pointer; &.voted{ cursor: default; } }
      & > *{
        display: table-cell;
        padding: 5px 0;
        text-align: center;
        width: 33%;
      }
    }
  }

  // Player

  .holder{ height: $big-player; }

  div.player{
    @include player-sizing($big-player);

    & > div{ cursor: pointer; position: relative; *{ position: absolute; } }

    .controls{
      float: left;
      a{ display: block; height: 70%; width: 70%; left: 15%; top: 15%; }
      .play, .pause{ border-style: solid; }
      .play{ height: 0; width: 0; }
      .pause{ display: none; }
    }

    .time{ *{ height: 100%; } img{ display: none; width: 100%; } }

    &.playing{
      .play{ display: none; }
      .pause{ display: block; }
    }
  }

  // Stats

  .stats ul{
    list-style: none;
    margin-bottom: 10px;
    li{ padding: 5px 0; }
  }

  // Reminder

  .reminder{
    display: none;
    &.sticky{ border: none; position: fixed; top: 0px; }
  }

  .about, .reminder{ .player{ @include player-sizing($small-player); margin-bottom: 10px; } }

  // Buttons

  .button, .pagination a{
    cursor: pointer;
    display: inline-block;
    margin: 0 0 5px 0;
    padding: 5px 10px;
    &.disabled{ cursor: default; }
  }

  .pagination span.current{ padding: 5px 10px; }

  // Mobile Devices

  @media only screen and (max-width: 767px){
    .holder{
      height: $small-player;
      .player{
        @include player-sizing($small-player);
        margin: 0;
      }
    }
    .caption, .status, .stats, .non-mobile{ display: none !important; }
  }

  // Misc

  .fl{ float: left; }
  .fr{ float: right; }
  .scale-with-grid{ max-width: 100%; height: auto; }
  .remove-bottom{ margin-bottom: 0; }
  .half-bottom{ margin-bottom: 10px; }
  .remove-top{ margin-top: 0; }
  .chzn-select{ width: 100%; }

}