$background: white;
$border: #D3D3D3;
$button: #ebebeb;
$container: transparent;
$control: #464646;
$header: black;
$opaque: whitesmoke;
$primary: #c70112; //#20B2AA;
$text: #555555;
$thick: 3px;

@mixin background-gradient($color){
  background: $color;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from($color), to($color), color-stop(.4,lighten($color, 10%)), color-stop(.6,lighten($color, 10%)));
  background: -moz-linear-gradient(top, $color, lighten($color, 10%) 40%, lighten($color, 10%) 60%, $color);
}
@mixin border-radius($size){
  border-radius: $size;
  -moz-border-radius: $size;
  -webkit-border-radius: $size;
}
@mixin box-shadow($color, $size){
  -moz-box-shadow: inset 0 0 0 $size $color;
  -webkit-box-shadow: inset 0 0 0 $size $color;
  box-shadow: inset 0 0 0 $size $color;
}
@mixin control-gradient($color, $direction: "normal"){
  background: $color;
  @if $direction == "normal" {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba($color, 0.8)), to(rgba($color, 0)));
    background: -moz-linear-gradient(top, rgba($color, 0.8), rgba($color, 0) 100%);
  } @else {
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba($color, 0)), to(rgba($color, 0.8)));
    background: -moz-linear-gradient(top, rgba($color, 0), rgba($color, 0.8) 100%);
  }
}
@mixin transition(){
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
}

body{

  background: $background;
  color: $text;
  font: 12px Futura, Helvetica, sans-serif;

  // Main Styles

  a{ color: $primary; text-decoration: none; &:hover{ color: lighten($primary, 5%); } }
  h1, h2, h3, h4{ color: $header; font-weight: normal; }
  hr{ border: solid transparentize($border, 0.7); border-width: 1px 0 0; &.large{ border-width: $thick 0 0; } }
  em{ color: $border; font-style: normal; }
  textarea{ border: 1px solid transparentize($border, 0.7); &:focus{ border-color: $border; } }

  // Container

  .container{ background: $container; }

  // Tracks & Comments

  .track, .comment{
    & > div{
      border-top: 1px solid transparentize($border, 0.7);
      h4{ color: $header; }
    }
  }

  .about .comment{ border-bottom: 1px solid transparentize($border, 0.7); }
  .owner{ background: transparentize($border, 0.9); }

  // Header & Caption

  .header, .footer{
    border: solid transparentize($border, 0.7);
    ul li{ border-right: 1px solid $border; }
  }

  .header{ background: $opaque; border-width: 0 0 $thick; }
  .footer{ border-width: $thick 0 0; }
  .caption{ background: $opaque; }

  // Prizes

  ul.prizes{
    font-size: 14px;
    list-style: square;
  }

  // Voting

  .vote{
    border: 1px solid $border;
    .votes > div{ color: $primary; }
    .votes > a{
      @include control-gradient($button);
      border-left: 1px solid $border;
      color: $text;
      &:hover{ color: $primary; }
      &.voted{ background: $border; color: $background; }
    }
  }

  // Player

  .player{
    border: 1px solid $border;
    .controls{
      background: $opaque;
      a{
        @include control-gradient($control);
        @include border-radius(100px);
        @include box-shadow($control, $thick);
      }
      &:hover a{ @include control-gradient($control, "reverse"); }
      .play{ border-color: transparent transparent transparent $control; }
      .pause{ border-color: $control; }
    }
    .time{
      background: $border;
      border-left: 1px solid $border;
      .loaded{ @include background-gradient(#959595); }
      .played{ @include background-gradient($primary); }
    }
  }

  // Favoriting

  //.favorited{ background: $border !important; color: $background !important; }

  // Reminder

  .reminder{ border-top: 1px solid transparentize($border, 0.7); }

  // Buttons

  .button{
    @include control-gradient($button, "reverse");
    border: 1px solid $border;
    color: $text;
    &:hover{ color: $primary; }
    &.selected{ background: $border; color: $background; }
  }

  // Round

  textarea, .vote, .button{ @include border-radius(5px); }

  // Transition

  textarea, .votes > a, .button{ @include transition; }

  // Mobile Devices

  // iPhone
  @media only screen and (max-width: 480px){ h1, h2{ font-size: 14px; } }

  // iPad
  @media only screen and (max-width: 767px){ }

}