.header.row.clearfix
  %div(style="height:26px;position:absolute;padding:4px 3px 5px 4px;top:0px;border-right:1px solid grey")
    = link_to image_tag("competition.png"), root_path
  .sixteen.columns
    %ul
      %li= link_to "DEVolution Competition", root_path
    %ul
      %li= link_to "Submit Track", submit_path
      /%li= link_to "Score", Track.first
