%p Use the controls below to record your submission.
  
%p.recorder
  %a.button.record(href="#record") Record
  %a.button.stop(href="#stop") Stop
  %a.button.play(href="#play") Play

%p
  %input#track_agreed(name="track[agreed]" type="checkbox" value=0)
  I agree to the #{link_to "Contest Rules", @competition.rules, :style => "text-decoration:underline", :target => "_blank"}.
  
%p
  %a.button.upload.disabled(href="#upload") Submit
